@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-top {
  -webkit-box-shadow: -50px -50px 100px 0px rgba(39, 44, 90, 1);
  -moz-box-shadow: -50px -50px 100px 0px rgba(39, 44, 90, 1);
  box-shadow: -50px -50px 100px 0px rgba(39, 44, 90, 1);
}
.shadow-bot {
  -webkit-box-shadow: 50px 50px 100px 0px rgba(18, 21, 48, 1);
  -moz-box-shadow: 50px 50px 100px 0px rgba(18, 21, 48, 1);
  box-shadow: 50px 50px 100px 0px rgba(18, 21, 48, 1);
}
.kumbh-sans {
  font-family: "Kumbh Sans", sans-serif;
}

.roboto-slab {
  font-family: "Roboto Slab", serif;
}

.space-mono {
  font-family: "Space Mono", monospace;
}
.theme-blue {
  background-color: #70f3f8;
}
body {
  font-family: "Kumbh Sans", sans-serif;
}
.active {
  font-weight: 700;
  border-radius: 9999px;

  padding-left: 28px;
  padding-right: 28px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 14px;
  color: #1e213f;
}
.no-active {
  font-weight: 700;
  border-radius: 9999px;
  background-color: transparent;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 14px;
  color: #d7e0ff;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  border: none; /* Usuwa wszystkie obramowania */
  /* Możesz też dostosować wygląd, np.: */
  outline: none; /* Usuwa obramowanie focusa */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
